@import 'tools.scss';

.light-theme {
  header {
    .title {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }

    .socials-list {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
}

.dark-theme {
  header {
    .title {
      border-left: 1px solid white;
      border-right: 1px solid white;
    }

    .socials-list {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
  }
}

header {
  display: grid; 
  grid-template-rows: auto auto;
  grid-template-columns: min-content auto min-content;
  grid-template-areas: 
    "name title icon"
    "socials socials socials";
  align-items: center;

  > * {
    padding: s(1) s(2);

    @include media(md-min) {
      padding: s(2);
    }
  }

  .name, .socials-list li {
    display: inline-block; 
  }
  
  .name {
    grid-area: name;
    white-space: nowrap;
    
    @include media(xs-max) {
      font-size: s(1.75);
    }
  }

  .title, .socials-list {
    font-size: s(1.5);
    display: flex; 

    @include media(xs-min) {
      font-size: s(2);
    }
  }

  .title {
    grid-area: title;
    flex-wrap: wrap;
    flex-direction: row; 
    align-items: center;
    height: 100%;
    font-weight: normal;

    span:first-child {
      margin-right: s(1);
    }
  }

  #music-modal-btn {
    background: transparent; 
    outline: none;
    border: none;
    cursor: pointer;

    img {
      grid-area: icon; 
      border-radius: 50%;
    }
  }

  .socials-list {
    grid-area: socials;
    justify-content: space-between;

    @include media(sm-min) {
      justify-content: space-evenly;
    }
  }
}