@import 'tools.scss';
@import 'colors.scss';

.projects-section {
  z-index: 5; 

  .project {
    margin-top: 64px;

    @include media(sm-min) {
      margin-top: 144px;
    }

    &:first-child {
      margin-top: 40px;

      @include media(sm-min) {
        margin-top: 80px; 
      }
    }

    &:last-child {
      margin-bottom: 80px;
      @include media(sm-min) {
        margin-top: 120px; 
      }
    }

    .content, .links {
      padding: 0 s(2);

      @include media(sm-min) {
        padding: 0 s(3);
      }
    }
  
    .title {
      display: flex;
      margin-bottom: s(2);

      @include media(sm-min) {
        margin-bottom: s(3);
      } 
  
      h4 {
        flex: 1;
        background: #bfe7f75e;
      }

      .display-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;

        @include media(md-min) {
          display: none;
        }

        &.active {
          svg {
            animation: rotateClockwise .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }

        &.unactive {
          svg {
            animation: rotateCounterClockwise .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
      }
    }

    .text {
      p {
        font-weight: 300; 
        background: #bfe7f75e;
      }
      
      .description {
        margin: 0 0 s(1.25);
        padding: 0; 

        @include media(sm-min) {
          margin: 0 0 s(2);
        }
      }

      .stack {
        padding: s(1.5) 0;

        @include media(sm-min) {
          padding: s(2) 0;
        }
      }
    }

    .collapsible-content {
      @include media(md-max) {
        display: none;
      }

      &.active {
        display: block;
      }
    }

    .preview {
      padding: 0; 

      video, img {
        box-shadow: -2px 4px 11px 0px #111;
      }

      img {
        width: 100%; 
      }
    }

    .links {
      padding-top: s(2);
      display: flex; 

      .btn {
        flex: 1;

        &:first-child {
          margin-right: s(1.5);
        }

        @include media(sm-min) {
          font-size: s(2.5); 
          line-height: 2;
        }
      }
    }
  }

  // layout change for desktop 
  @include media(md-min) {
    .container {
      padding: s(4) s(8);
    }

    .project {
      display: grid; 
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1.5fr;
      grid-template-areas: 
        "image content"
        "image links";
      grid-gap: 0 s(8);
      
      .content {
        grid-area: content;
      }

      .preview {
        grid-area: image; 
        align-self: center;
      }

      .links {
        grid-area: links;
        align-self: self-end;

        .btn {
          max-height: s(6);
          max-width: s(29);

          &:first-child {
            margin-right: s(4);
          }
        }
      }

      .down-arrow-icon {
        display: none;
      }
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

@keyframes conditionalOpen {
  from { 
    transform: sY(0);
    // height: 0; 
  }
  to { 
    transform: sY(1);
    // height: auto;
  }
}

@keyframes conditionalClose {
  from { 
    transform: sY(1); 
    // height: auto; 
  }
  to { 
    transform: sY(0);
    // height: 0;
  }
}